<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Fuel Consumption Report</ion-title>
  </ion-navbar>
  <ion-item style="background-color: #fafafa;">
    <ion-label style="margin-top: 15px;">Select Vehicle</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
      itemTextField="Device_Name" [canSearch]="true" (onChange)="getId(selectedVehicle)">
    </select-searchable>
  </ion-item>
  <ion-row padding-left padding-right style="background-color: #fafafa;">
    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">From Date</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeStart"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;">
        </ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">To Date</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;">
        </ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <div style="margin-top: 9px; float: right;">
        <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="getReport();"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>
  <ion-card *ngFor="let r of fuelDataArr; let i = index;" [ngClass]="(i == 0) ? 'my1':'my2'">
    <ion-row>
      <!-- <div *ngIf="i == 0"> -->
        <ion-col col-12>
          <ion-row>
            <ion-col col-6 style="font-size:10px; ">Date & Time</ion-col>
            <ion-col col-6 style="font-size:10px; ">Tank Surplus</ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-12>
          <ion-row>
            <ion-col col-6 style="font-size:11px; font-weight: bold;">{{r.date_time}}</ion-col>
            <ion-col col-6 style="font-size:11px; font-weight: bold;">{{r.tank_surplus}}</ion-col>
          </ion-row>
        </ion-col>
      <!-- </div> -->
    </ion-row>
  </ion-card>
  <ion-card *ngFor="let r of fuelDataArr; let i = index;" [ngClass]="(r.event_type=='IN')?'my-class1':'my-class2'">
    <div *ngIf="(i != 0) && (i != (fuelDataArr.length - 2)) && (i != (fuelDataArr.length - 1))">
      <ion-item
        style="padding-left: 19px; color: white; font-size: 12px; font-weight: bold; background-color: transparent;">
        <ion-label item-start>
          <ion-icon name="calendar" color="light"></ion-icon>&nbsp;{{r.date_time}}
        </ion-label>
        <ion-badge item-end color="light">{{r.event_type}}</ion-badge>
      </ion-item>

      <ion-card-content style="background-color: transparent;">
        <ion-row style="font-size: 10px">
          <ion-col col-4>Drive Time</ion-col>
          <ion-col col-4>Fuel Used(L)</ion-col>
          <ion-col col-4>Tank Surplus Before</ion-col>
        </ion-row>
        <ion-row style="font-size: 11px; font-weight: bold;">
          <ion-col col-4>{{r.drive_time}}</ion-col>
          <ion-col col-4>{{r.fuel_used}}</ion-col>
          <ion-col col-4>{{r.tank_surplus_before}}</ion-col>
        </ion-row>
        <ion-row style="font-size: 10px">
          <ion-col col-4>Fuel Change</ion-col>
          <ion-col col-4>Tank Surplus</ion-col>
          <ion-col col-4>Distance(Kms)</ion-col>
        </ion-row>
        <ion-row style="font-size: 11px; font-weight: bold;">
          <ion-col col-4>{{r.fuel_change}}</ion-col>
          <ion-col col-4>{{r.tank_surplus}}</ion-col>
          <ion-col col-4>{{r.distance}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1>
            <ion-icon name="pin" color="secondary"></ion-icon>
          </ion-col>
          <ion-col col-11>
            {{r.location}}
          </ion-col>
        </ion-row>
      </ion-card-content>
    </div>
  </ion-card>
  <ion-card *ngFor="let r of fuelDataArr; let i = index;" [ngClass]="(i == (fuelDataArr.length - 2)) ? 'my1':'my2'">
    <!-- <div *ngIf="i == (fuelDataArr.length - 2)"> -->
      <ion-row>
        <ion-col col-12 style="font-size:10px; ">Date & Time</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 style="font-size:11px; font-weight: bold;">{{r.date_time}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 style="font-size:10px;">Distance(Kms)</ion-col>
        <ion-col col-6 style="font-size:10px; ">Tank Surplus</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 style="font-size:11px; font-weight: bold;">{{r.distance}}</ion-col>
        <ion-col col-6 style="font-size:11px; font-weight: bold;">{{r.tank_surplus}}</ion-col>
      </ion-row>
    <!-- </div> -->
  </ion-card>
  <ion-card *ngFor="let r of fuelDataArr; let i = index;" [ngClass]="(i == (fuelDataArr.length - 1)) ? 'my1':'my2'">
    <!-- <div *ngIf="i == (fuelDataArr.length - 1)"> -->
      <ion-row>
        <ion-col col-12 style="font-size:13px; text-align: center; ">Total</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4 style="font-size:10px;">Fuel Used(L)</ion-col>
        <ion-col col-5 style="font-size:10px; ">Fuel Change</ion-col>
        <ion-col col-3 style="font-size:10px; ">Distance(Kms)</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4 style="font-size:11px; font-weight: bold;">{{r.fuel_used}}</ion-col>
        <ion-col col-5 style="font-size:11px; font-weight: bold;">{{r.fuel_change}}</ion-col>
        <ion-col col-3 style="font-size:11px; font-weight: bold;">{{r.distance}}</ion-col>
      </ion-row>
    <!-- </div> -->
  </ion-card>
</ion-content>