<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Summary Report</ion-title>
    </ion-navbar>

    <ion-item style="background-color: #fafafa;">
        <ion-label>Select Vehicle</ion-label>
        <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
            itemTextField="Device_Name" [canSearch]="true" (onChange)="getSummaarydevice(selectedVehicle)">
        </select-searchable>
    </ion-item>

    <ion-row padding-left padding-right style="background-color: #fafafa;">
        <ion-col width-20>
            <ion-label>
                <span style="font-size: 13px">From Date</span>
                <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a"
                    [(ngModel)]="datetimeStart" style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;">
                </ion-datetime>
            </ion-label>
        </ion-col>

        <ion-col width-20>
            <ion-label>
                <span style="font-size: 13px">To Date</span>
                <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a"
                    [(ngModel)]="datetimeEnd" style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;">
                </ion-datetime>
            </ion-label>
        </ion-col>

        <ion-col width-20>
            <div style="margin-top: 9px; float: right">
                <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="getSummaryReport();">
                </ion-icon>
            </div>
        </ion-col>
    </ion-row>
</ion-header>
<ion-content>

    <ion-card *ngFor="let item of summaryReportData">
        <ion-item style="border-bottom: 2px solid #dedede;">
            <ion-avatar item-start>
                <img src="assets/imgs/car_red_icon.webp">
            </ion-avatar>
            <ion-label>{{item.Device_Name }}</ion-label>
            <ion-badge item-end color="gpsc">Trips - {{item.tripCount}}</ion-badge>
        </ion-item>
        <ion-card-content>
            <ion-row style="padding-top: 12px;">
                <ion-col>
                    <p class="para">
                        <span *ngIf="item.ignOn">{{item.ignOn}}</span>
                        <span *ngIf="!item.ignOn">00.00</span>&nbsp;</p>
                    <p style="color:#53ab53;font-size:11px;font-weight: 350;"> Running </p>
                </ion-col>
                <ion-col>
                    <p class="para">
                        <span *ngIf="item.ignOff">{{item.ignOff}}</span>
                        <span *ngIf="!item.ignOff">00.00</span>&nbsp;</p>
                    <p style="text-align:left;font-size: 11px;color:red;font-weight:350;">Stop</p>
                </ion-col>
                <ion-col center text-center>
                    <p class="para">
                        <span *ngIf="item.distance">{{item.distance | number : '1.0-2'}}</span>
                        <span *ngIf="!item.distance">00.00</span>&nbsp;</p>
                    <p style="text-align:left;font-size: 11px;color:#11c1f3;font-weight:350;">Total KM</p>
                </ion-col>
            </ion-row>
            <ion-row style="padding-top: 5px;">
                <ion-col>
                    <p class="para">
                        <span *ngIf="item.overspeeds">{{item.overspeeds}}</span>
                        <span *ngIf="!item.overspeeds">00.00</span>&nbsp;</p>
                    <p class="para1">Overspeeding</p>
                </ion-col>
                <ion-col>
                    <p class="para">
                        <span *ngIf="item.routeViolations">{{item.routeViolations}}&nbsp;Km/h</span>
                        <span *ngIf="!item.routeViolations">0 Km/h</span>&nbsp;</p>
                    <p class="para1">Route Voilation</p>
                </ion-col>
                <ion-col></ion-col>
            </ion-row>

            <ion-row style="padding-top: 5px;">
                <ion-col col-1>
                    <ion-icon name="pin" style="color:#33c45c; font-size:15px;"></ion-icon>
                </ion-col>
                <ion-col col-11 style="color:gray;font-size:11px;font-weight: 400;">
                    {{item.StartLocation}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-1>
                    <ion-icon name="pin" style="color:#e14444;font-size:15px;"></ion-icon>
                </ion-col>
                <ion-col col-11 style="color:gray;font-size:11px;font-weight: 400;">
                    {{item.EndLocation}}
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>