<ion-content no-padding class="no-scroll">
    <div width="100%" height="100%">
        <div style="background: #1C3F75;padding-bottom: 10%;" height="50%">
            <button ion-button (click)="back()" clear item-end style="color:white;">
                <ion-icon name="md-arrow-back"></ion-icon>
            </button>
            <ion-card style="margin: 0px;width: 28%;border-radius: 15px; padding-top: 0%;margin-left: 37%;">
                <img src="assets/imgs/icon.png" style="width: 60%;margin: 18%;">
            </ion-card>
            <h5
                style="color: white;font-weight: 500;text-align: center;font-size: 3.6rem;padding-top: 0%;padding-bottom: 7%;">
                SIGN UP</h5>
        </div>
        <div class="row">
            <ion-card style="margin-top: -12%;border-radius: 4%;height: auto;" class="col-sm-12 col-12 col-md-12">
                <p style="font-size: 1.7rem;margin: 25px;color:#605b5b">Verify Code</p>
                <p style="margin: 25px;margin-bottom: 0px;color: grey;">Please type verification code send to your
                    mobile no. {{mobileNum}}</p>
                <form [formGroup]="signupForm">
                    <div class="otpBox">
                        <input id="codeBox1" type="number" maxlength="1" (keyup)="onKeyUpEvent(1, $event)"
                            (onfocus)="onFocusEvent(1)" formControlName="otp1" />
                        <input id="codeBox2" type="number" maxlength="1" (keyup)="onKeyUpEvent(2, $event)"
                            (onfocus)="onFocusEvent(2)" formControlName="otp2" />
                        <input id="codeBox3" type="number" maxlength="1" (keyup)="onKeyUpEvent(3, $event)"
                            (onfocus)="onFocusEvent(3)" formControlName="otp3" />
                        <input id="codeBox4" type="number" maxlength="1" (keyup)="onKeyUpEvent(4, $event)"
                            (onfocus)="onFocusEvent(4)" formControlName="otp4" />
                    </div>
                </form>
            </ion-card>
            <div class="col-sm-12 col-12 col-md-12 " style="margin:auto;text-align: center">
                <button ion-button round
                    style="width: 18.2rem;color:white;background: #1C3F75;margin: -45px 0px 0px -12px;font-weight:400;text-transform: none;"
                    [disabled]="!signupForm.valid" (click)="signupUser()">Submit</button>
                <div style="padding-top: 25px;">
                    <p style="color:grey;margin-left: -13px;">OTP not recieved ?
                        <span style="color: black;margin-left: 5px;" (click)="resendOtp()">Resend OTP</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</ion-content>