page-add-geofence{
    #mapGeofence{
        height: 80%;
        width: 100%;
    }
    .logitem {
        background-color: transparent;
        padding-bottom: 5px;
    }
    .logitem1 {
        background-color: transparent;

        p { 
            color: #ea6153;
            margin: 0;
            padding: 0;
        }
    }

    .searchclass1 {
        display: block;
    }
    .searchclass2{
        display: none;
    }
    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width:77%;
        margin-bottom: 0;
        line-height: 15px;
        font-weight: bold;
        margin-left:0px;
        height: 9%;
        margin-top: 1px;
    }
    
    #pac-input:focus {
        border-color: #4d90fe;
    }
    #pac-input::placeholder {
        color:gray;
      }


      .controls {
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        position: absolute;
        line-height: 22px;
    }

    .searchbar-md .searchbar-input,
    .searchbar-ios .searchbar-input {
        font-size: 0.8em;
    }
}